html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.field {
  display: inline-block;
}

.value {
  display: block;
  background-color: #585656;
  color: aliceblue;
  border: 2px solid black;
  font-size: 40px;
}
.label {
  display: block;
  color: gray;
}

.timer {
  display: block;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  color: #212121;
  border-radius: 2px;
}
